body {
    margin: 0;
    overflow-x: hidden;
    width:100vw;
   
}

html{
    overflow-x: hidden;
}

h1 {
    font-family: 'Podkova', sans-serif; /* Set font to Podkova */
    font-weight: 800; /* Set font weight to extrabold */
    font-size: 64px; /* Set font size to 64 pixels */
    color: #D2CD82; /* Set font color to D2CD82 */
    text-align: center; /* Center align the text */
    text-shadow: 0 0 8px white;
    margin: 20px;
}
p {
    font-family: 'Podkova', sans-serif; /* Set font to Podkova */
    font-weight: 800; /* Set font weight to extrabold */
    font-size: 32px; /* Set font size to 64 pixels */
    color: #D2CD82; /* Set font color to D2CD82 */
    text-align: center; /* Center align the text */
    text-shadow: 0 0 8px white;
    margin: 20px;
    text-decoration: underline;
}


.animation {
    top:15vh;
    width:100%;
    height:auto;
    position: absolute;
    background: url("./img/comments.png");
    background-size: cover;
    animation: infinite 500s linear infinite;
    padding:0;
    
      display: flex;
      flex-direction: column;
      align-items: center;
  
  
}

@keyframes infinite {
    0% {
        background-position: 50% 0;
    }
    100% {
        background-position: 50% -86000px;
    }
}

.twitter-tweet {
    max-width: 560px; /* Adjust as needed */
    padding-top: 20px;
    padding-bottom: 20px;
}

.header {
    position: absolute;
    height:15vh;
    width: 100vw;
    left:0vw;
    background: linear-gradient(180deg, #C0AD8E 85.66%, #B5A07F 85.67%);

    
  }
  
  .logo {
    position: absolute;
    width: 30vw;
    height: 15vh;
    top: -0vh;
    left: 0vw;
  }
  
  .menu {
    position: absolute;
    width: 10vw;
    height: 5vh;
    top: 5vh;
    right: 10vw;
  }
  
  .sidebar{
    position:absolute;
    height:100vh;
    width:100vw;
    z-index:9000;
    top:-1vh;
    left:90vw;
    transition-duration: 1000ms;
    visibility: hidden;
    display: none;
    overflow-x:hidden;
  }
  
  .fill{
    position:absolute;
    height:520vh;
    width:190vw;
    left:-90vw;
    background-color: black;
    opacity: 0.8;
    visibility: hidden;
    top:-1vh;
  }
  
  .crafter-crad{
    position: absolute;
    height:27vh;
    width: 60vw;
    left:52vw;
    top:vh;
  }
  
  .crafter-card{
    height:60vh;
  }
  .works{
    position: absolute;
    top:17vh;
    transform: rotate(-12.99deg);
    left: 12vw;
    height:5vh;
    width: auto;
  }
  
  .artist-card{
    position: absolute;
    height:25vh;
    width: 60vw;
    left:36vw;
    top: 29vh;
  }

  .artist-card-2{height: 60vh;}
  
  .illustration{
    position: absolute;
    top:13vh;
    transform: rotate(8.99deg);
    left: 11vw;
    height:5vh;
    width: auto;
  }
  
  .element-model{
    position: absolute;
    top:20vh;
    transform: rotate(8.99deg);
    left: 9vw;
    height:5vh;
    width: auto;
  }
  
  .rider-card{
    position: absolute;
    height:25vh;
    width: 60vw;
    left:49vw;
    top: 52vh;
  }
  
  .rider-card-2{height: 60vh;}
  .photos{
    position: absolute;
    top:15vh;
    transform: rotate(-11.99deg);
    left: 10vw;
    height:5vh;
    width: auto;
  }
  .video{
    position: absolute;
    top:21vh;
    transform: rotate(-11.99deg);
    left: 12vw;
    height:5vh;
    width: auto;
  }
  
  .developer-card1{
    position: absolute;
    height:25vh;
    width: 60vw;
    left:14vw;
    top: 78vh;
  }

 .developer-card{height: 60vh;}
  
  .works1{
    position: absolute;
    top:15vh;
    transform: rotate(11.99deg);
    left: 30vw;
    height:5vh;
    width: auto;
  }
