.mobile {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.mobile .overlap-wrapper {
  background-color: #b29e7f;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.mobile .overlap {
  position: relative;
  width: 100vw;
  height: 200vh;
  left: 0px;
}

.mobile .logo {
  position: absolute;
  width: 546px;
  height: 479px;
  top: -500px;
  left: 204px;
  object-fit: cover;
  transition-duration: 1000ms;
}

.mobile .crafter-crad {
  position: absolute;
  width: 90vw;
  height: 70vh;
  top: 90vh;
  left:10vw;
  transition-duration: 1000ms;
  transform: rotate(-10deg);
}

.mobile .crafter-card{
  position: absolute;
  width: 100%;
  height: 100%;
}

.mobile .works {
  position: absolute;
  width: 28%;
  height: 9%;
  top: 32vh;
  left: 36%;
  
}

.mobile .works_twitter {
  position: absolute;
  width: 6vw;
  height: 4vh;
  top: 33vh;
  left: 67vw;
}

.mobile .works_insta {
  position: absolute;
  width: 6vw;
  height: 4vh;
  top: 33vh;
  left: 19vw;
}

.mobile .artist-card {
  position: absolute;
  width: 90vw;
  height: 70vh;
  left:0vw;
  top: 100vh;
  transition-duration: 1000ms;
  transform: rotate(10deg);
}


.mobile .artist-card-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width:100%;
  height:100%;
}

.mobile .illustration {
  position: absolute;
  width: auto;
  height: 6%;
  top: 32vh;
  left: 12vw;

}

.mobile .element-model {
  position: absolute;
  width: auto;
  height: 6%;
  top: 40vh;
  left: 14vw;
  
}


.mobile .rider-card {
  position: absolute;
  width: 90vw;
  height: 70vh;
  left:10vw;
  top: 100vh;
  transition-duration: 1000ms;
  transform: rotate(-10deg);
}



.mobile .rider-card-2 {
  position: absolute;
  width: 100%;
  height: 100%; 
}

.mobile .photos {
  position: absolute;
  width: auto;
  height: 6%;
  top: 35vh;
  left: 32vw;
  
}

.mobile .video {
  position: absolute;
  width: auto;
  height: 6%;
  top: 42vh;
  left: 32vw;
  
}

.mobile .developer-card1 {
  position: absolute;
  width: 90vw;
  height: 70vh;
  top:100vh;
  transform: rotate(10deg);
  transition-duration: 1000ms;
}

.mobile .developer-card {
  position: absolute;
  width: 100%;
  height: 100%;
 
  top:-6vh;
}

.mobile .works1 {
  position: absolute;
  width: auto;
  height: 9%;
  top: 28vh;
  left: 25vw;
}

